.signup, .Login{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    color: orange;
}

.auth-flip, .Login h1{
    margin-top: 15px;
   
     cursor: pointer;
}

.redError{
    color: red;
}